<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>index</title>
		<style>
			body{
				background-color: #cccccc;
			}
			#ta-top{
				margin: 10px;
				width: calc(100% - 20px);
				height: 400px;
			}
			#submit-bt{
				margin: 10px;
				background-color: #555555;
				width: calc(100% - 20px); 
				text-align: center;
				color: white;
			}
			#submit-bt:hover{
				background-color: #aaaaaa;
			}
			#title{
				text-align: center;
				color: #0000AA;
				font-weight: bold;
				font-style: italic;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			function submit(){
				let text = document.getElementById("ta-top").value;
				$.ajax({
					url: "post",
					type: "POST",
					dataType: "json",
					data: JSON.stringify({
						text: text
					}),
					success: (data)=>{
						console.log("success");
					},
					error: (error)=>{
						console.log("error");
					}
				});
			};
		</script>
	</head>
	<body>
		<h1 id="title">IAMAS酒場</div>
		<textarea id="ta-top"></textarea>
		<div id="submit-bt" onclick="submit();">Submit</div>
	</body>
</html>