<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>index</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			body{
				background-color: #cccccc;
			}
			#ta-top, #ta-id, .text-ta, #select-table{
				margin: 10px;
				width: calc(100% - 20px);
			}
			#ta-top{
				height: 400px;
			}
			#bt-submit{
				margin: 10px;
				background-color: #555555;
				width: calc(100% - 20px); 
				text-align: center;
				color: white;
			}
			#bt-submit:hover{
				background-color: #aaaaaa;
			}
			#title{
				text-align: center;
				color: #0000AA;
				font-weight: bold;
				font-style: italic;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			function submit(){
				let select = document.getElementById("select-table").value;
				let text = document.getElementById("ta-top").value;
				$.ajax({
					url: "post",
					type: "POST",
					dataType: "json",
					contentType: 'text/plain',
					data: select+" - "+text,
					success: (data)=>{
						console.log("success");
					},
					error: (error)=>{
						console.log("error");
					}
				});
			};
		</script>
	</head>
	<body>
		<h1 id="title">IAMAS酒場</h1>
		<div class="text-ta">どのお席の方へ？</div>
		<!--<input id="ta-id"></input>-->
		<select id="select-table">
			<option value="1" selected>1番テーブル</option>
			<option value="2">2番テーブル</option>
			<option value="3">3番テーブル</option>
		</select>
		<div class="text-ta">メッセージがあれば(オプション)</div>
		<textarea id="ta-top"></textarea>
		<div id="bt-submit" onclick="submit();">イイネ <i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
	</body>
</html>