<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>signage</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			html, body{
				width: 100%;
				height: 100%;
				margin: 0;
			}
			#title{
				position: absolute;
				top: 0;
				left: 0;
			}
			#canvas{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			#table1, #table2, #table3{
				text-align: center;
				position: absolute;
				width: 100px;
				height: 100px;
				border: 3px solid #000000;
				background-color: #ffff00;
				border-radius: 50px;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			let array = [];

			let get = () =>{
				$.ajax({
					url: "get",
					type: "GET",
					dataType: "json",
					contentType: 'application/json',
					data: "get",
					success: (data)=>{
						for(let i in data){
							console.log(data[i][0]+": "+data[i][1]);
							array.push(data[i]);
						}
						//console.log("success");
					},
					error: (error)=>{
						console.log("error");
					}
				});
			};
			setInterval(get, 500);
		</script>
	</head>
	<body>
		<h1 id="title">IAMAS酒場</h1>
		<div id="canvas"></div>
		<div id="table1">1</div>
		<div id="table2">2</div>
		<div id="table3">3</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.balloon.js"></script>
<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.6.0/two.min.js"></script>
	--><script>

		let w = $("#canvas").width();
		let h = $("#canvas").height();

		let tables = [{},{},{}];
		let circle = [0,0,0];
		for(let i in tables){
			tables[i].x = (w / 4 * i + w / 4) - 50;
			tables[i].y = (h / 2) - 50;
		}

		$("#table1").css({
			top: tables[0].y,
			left: tables[0].x
		});
		$("#table2").css({
			top: tables[1].y,
			left: tables[1].x
		});
		$("#table3").css({
			top: tables[2].y,
			left: tables[2].x
		});



		//$("#canvas").get(0).width = $(window).width();
		//$("#canvas").get(0).height = $(window).height();





/*
		let w = $("#canvas").width();
		let h = $("#canvas").height();

		let tables = [{},{},{}];
		let circle = [0,0,0];
		for(let i in tables){
			tables[i].x = w / 4 * i + w / 4;
			tables[i].y = h / 2;
		}

		let cvs = document.getElementById("canvas");
		let two = new Two({
			type: Two.Types["svg"],
			width: w,
			height: h,
		}).appendTo(cvs);

		two.bind('update', () => {
			for(let i in circle){
				circle[i] = two.makeCircle(tables[i].x, tables[i].y, 100);
				circle[i].fill = '#999999';

				//circle[i].translation.set(two.width / 2, two.height / 2);
			}
		}).play();*/
	</script>
</html>